<div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">My Awesome site</a>
    </div>
    <ul class="nav">
      {{#if session.isAuthenticated}}
        <h1>Welcome, {{session.currentUser.name}}!</h1>
        <li><button {{action 'invalidateSession'}}>Logout</button></li>
        <li>{{#link-to 'portal'}}Mah portal{{/link-to}}</li>
        <li>{{#link-to 'portal'}}Other secret stuff...{{/link-to}}</li>
      {{else}}
        <li>{{#link-to 'login'}}Login{{/link-to}}</li>
        <li>{{#link-to 'login'}}Register (todo..){{/link-to}}</li>
      {{/if}}
    </ul>
  </nav>
  <div id="page-wrapper">
    {{outlet}}
  </div>
</div>