
<h2>Here are your teammates in your plight against evil..</h2>

<ul>
  {{#each model as |teammate|}}
    <li>
      <strong>{{teammate.name}}</strong> | <strong>{{teammate.specialty}}</strong>
    </li>
  {{/each}}
</ul>

